<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
  <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="copyright" content="GbCreation">
        <meta name="author" content="GbCreation">
        <meta name="language" content="fr">
        <meta http-equiv="content-language" content="fr">
        
        <title>Karen.Guiom | {% block title %}WeSite!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" /> 

        {% block stylesheets %}
        <link href="{{ asset('resources/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('resources/bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet">     
        <link href="{{ asset('resources/css/sy2-wall-base.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/gbcreationwall/css/iframeResponsive.css') }}" rel="stylesheet">    
        {% endblock %}


    </head>
    <body>
    <!-- /Menu -->
    {% block menu %}
     <div class="navbar navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <a class="brand myBrand" href="{{ path('gb_creation_home_homepage') }}">Karen.Guiom </a>

              <div class="nav-collapse collapse">
                <ul class="nav">
                  <!--<li class="{% if app.request.get('_route') == 'gb_creation_home_homepage' %}active{% endif %}"><a href="{{ path('gb_creation_home_homepage') }}">Accueil</a></li>-->
                  <li class="{% if app.request.get('_route') == 'gb_creation_wall_homepage' %}active{% endif %}"><a href="{{ path('gb_creation_wall_homepage') }}">Wall</a></li>
                  <li class="{% if app.request.get('_route') == 'gb_creation_contact' %}active{% endif %}"><a href="{{ path('gb_creation_contact') }}">Contact</a></li>

                   <li class="dropdown">
                     <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      Filtrer
                      <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                        <li><a id="rqtAll" href="#" class="hidden"></a></li>
                        <li><a id="rqtpicture" href="#picture"><i class="icon-camera"></i><span class="label"> Photos</span></a></li>
                        <li><a id="rqtvideo" href="#video"><i class="icon-film"></i><span class="label"> Vidéos</span></a></li>
                      </ul>
                </li>

                </ul>
                 <div id="resume" >{{ render(controller("GbCreationWallBundle:Wall:resume")) }}</div>
                 <p class="navbar-text pull-right"><a href="{{ path('gb_creation_rss_feed') }}"><img class="rssFeed" src="{{ asset('resources/img/rss.png') }}"></a></p>
                 <p class="navbar-text pull-right"><a href="{{ path('fos_user_security_login') }}"><i class="icon-user"></i></a></p>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>
      {% endblock %} 

        <div class="container-fluid">

          {% block sidebar %}{% endblock %} 
          {% block body %}{% endblock %}

        </div> <!-- /container -->


      <hr>
       <footer  id="footer">
        <p>
          <img src="{{ asset('resources/img/GibeeCreationLogo.png') }}">
          <h3>&copy; 2013 all rights reserved</h3>
      </p>
      </footer>

      <script src="{{ asset('resources/js/sy2-wall.js') }}"></script>
      <script src="{{ asset('resources/bootstrap/js/jquery.js') }}"></script>
      <script src="{{ asset('resources/bootstrap/js/bootstrap-collapse.js') }}"></script>
      <script src="{{ asset('resources/bootstrap/js/bootstrap-dropdown.js') }}"></script>
      {% block javascripts %}{% endblock %}

    </body>
</html>