
{% for comment in comments %}
    <article class="comment {{ cycle(['odd', 'even'], loop.index0) }}" id="comment-{{ comment.id }}">
        <header>
            <span class="author">{{ comment.author }}</span>
            <span class="date"><time datetime="{{ comment.created|date('d/m/Y') }}">{{ comment.created|date('d/m/Y') }}</time></span>
        </header>
        <p>{{ comment.comment }}</p>
    </article>
{% else %}
    <p>Il n'y a pas encore de commentaire. Sois le premier à poster !</p>
{% endfor %}