{% extends 'GbCreationWallBundle::layout.html.twig' %}

{% block body %}
<div class="grid">
    <div class="row-fluid">
        <div id="column" class="column">
        {% for item in items %}
            <!-- <article id="{{ item.id }}" class="item span4">-->
            <article id="{{ item.id }}" class="myItem">
                <header>
                </header>
                <a href="{{ path('gb_creation_wall__show', { 'id': item.id }) }}">
                    <img src="{{ asset(['images/wall/', item.file]|join) }}" />
                </a>
                    <span class="date"><time datetime="{{ item.date|date('c') }}">{{ item.date|date('d/m/Y') }}</time></span>
                    <span class="description">{{ item.description }}</span>
                    <span class="nb-comments">{{ item.nbLike }} <i class="icon-comment icon-white"></i></span>
                <!--<footer class="meta">
<p>Comments: todo</p>
<h4>tags : {{ item.tags }}</h4>
<h4> il y a {{ item.nbLike }} likes</h4>
<h4>ceci est type : {{ item.type }}</h4>
</footer>-->
            </article>
        {% else %}
            <p>Il n'y a pas de photos dans le mur</p>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}


{% block javascripts %}
<script src="{{ asset('resources/bootstrap/js/jquery.js') }}"></script>
<script src="{{ asset('resources/js/masonry/masonry.min.js') }}"></script>
<script src="{{ asset('resources/bootstrap/js/bootstrap-scrollspy.js') }}"></script>

<script type="text/javascript">
$(function(){ // document ready
    $('#column').masonry({
        itemSelector: '.myItem',
        isAnimated: true,
        isFitWidth: true
    });
});
</script>
{% endblock %}