{% extends 'GbCreationWallBundle::layout.html.twig' %}

{% block title %}{{ item.description }}{% endblock %}

{% block body %}
    <article class="item">
        <header>
         <div class="date"><time datetime="{{ item.date|date('c') }}">{{ item.date|date('l, F j, Y') }}</time></div>
            <h2>{{ item.description }}</h2>
        </header>
         <img src="{{ asset(['images/wall/', item.file]|join) }}" alt="{{ item.file }} n'a pas été trouvée" class="large" />
    </article>

    <article class="comments">
        <section class="comments" id="comments">
        <section class="previous-comments">
            <h3>Commentaires  ({{ item.nbLike }})</h3>
            {% include 'GbCreationWallBundle:Comment:index.html.twig' with { 'comments': comments } %}
        </section>

          <h3>Ajouter un commentaire</h3>
           {{ render(controller( 'GbCreationWallBundle:Comment:new', { 'item_id': item.id } )) }}
    </section>
    </article>
{% endblock %}
