{% extends '::admin.base.html.twig' %}

{% block sidebar %}
      <div class="bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li class="{% if app.request.get('_route') == 'gb_creation_admin__add' or app.request.get('_route') == 'gb_creation_admin__index' %}active{% endif %}"><a href="{{ path('gb_creation_admin__add') }}" title="Ajouter un élément"><i class="icon-chevron-right"></i> Ajout</a></li>
          <li class="{% if app.request.get('_route') == 'gb_creation_admin_items_show' or app.request.get('_route') == 'gb_creation_admin_items_show_noPagination' %}active{% endif %}"><a href="{{ path('gb_creation_admin_items_show') }}" title="Voir mes photos"><i class="icon-chevron-right"></i> Mes Photos</a></li>
          <li class="{% if app.request.get('_route') == 'gb_creation_admin_items_video_show' or app.request.get('_route') == 'gb_creation_admin_items_video_show_noPagination' %}active{% endif %}"><a href="{{ path('gb_creation_admin_items_video_show') }}" title="Voir mes vidéos"><i class="icon-chevron-right"></i> Mes Vidéos</a></li>
          <li class="{% if app.request.get('_route') == 'gb_creation_admin_comments_show' or app.request.get('_route') == 'gb_creation_admin_comment_edit'%}active{% endif %}"><a href="{{ path('gb_creation_admin_comments_show') }}" title="Voir les commentaires"><i class="icon-chevron-right"></i> Les Commentaires</a></li>
          <li class="{% if app.request.get('_route') == 'gb_creation_admin_stats' %}active{% endif %}"><a href="{{ path('gb_creation_admin_stats') }}" title="Voir les stats du site"><i class="icon-chevron-right"></i> Stats</a></li>
        </ul>
      </div>

      <div class="bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li class="" ><a href="{{ path('fos_user_security_logout') }}" title="Se déconnecter"><i class="icon-off"></i> Déconnexion</a></li>
        </ul>
      </div>

            {# {{ app.request.get('_route') }}  #}
{% endblock %}


{% block javascripts %} 
 <script type="text/javascript">
    $(function(){ // document ready
        $('.bs-docs-sidebar').affix({
            offset: {
              top: function () { return $(window).width() <= 980 ? 80 : 0 }
            , bottom: 270
            }
          });
          //alert($(window).width());
      });
</script>

{% endblock %}