
<div class="row-fluid">

  <div class="span4">
    <img src="{{ asset(['images/wall/', item_name]|join) }}" class="Thumbnail" alt="{{ item_name }} n'a pas été trouvée" />
  </div>

  <div class="span8">
    <form action="{{ path('gb_creation_admin_item_edit', { 'id': item_id }) }}" method="post" {{ form_enctype(form) }}>
       <div class="error">
    	{{ form_errors(form) }}
    </div>

      <fieldset class="itemForm">

        <div class="form-group">
    		  {{ form_label(form.description) }}
    	    {{ form_errors(form.description) }}
    		  {{ form_widget(form.description, { 'attr': {'class': 'inputDescription'} }) }}
    	</div>

      <div class="form-group">
          {{ form_label(form.date) }}
          {{ form_errors(form.date) }}
          {{ form_widget(form.date, { 'attr': {'class': 'datepicker'}}) }}
      </div>
       <div class="form-group">
          {{ form_widget(form.file,{ 'attr': {'class': 'hidden'} }) }}
      </div>

      <div class="rotate-button">
        <a href="{{ path('gb_creation_admin_item_edit_rotate', { 'id': item_id, 'rotate': 'right'  }) }}" ><img src="{{ asset('bundles/gbcreationwall/images/rotateRight.png') }}"></a>
        <a href="{{ path('gb_creation_admin_item_edit_rotate', { 'id': item_id, 'rotate': 'left' }) }}" ><img src="{{ asset('bundles/gbcreationwall/images/rotateLeft.png') }}"></a>
      </div>

    	{{ form_rest(form) }}
        <button class="btn btn-primary" type="submit">Modifier</button>
        <a href="{{ path('gb_creation_admin_items_show') }}" class="btn btn-primary">Annuler</a>
      </fieldset>
    </form>
  </div>    
</div>