<form action="{{ path('gb_creation_admin_item_video_create') }}" method="post" {{ form_enctype(formVideo) }}>

<div class="error">
  {{ form_errors(formVideo) }}
</div>

  <fieldset class="itemForm">
    <div class="form-group">
      url -  Choisir :
      <img src="{{ asset('resources/img/youtube.png')}}" alt="YouTube" id="youtube" class="videoIcon"/>
      ou 
      <img src="{{ asset('resources/img/vimeo.png')}}" alt="Vimeo" id="vimeo" class="videoIcon"/>
      Et taper l'ID de la vidéo :
     </div>
    <div class="form-group">
      {{ form_errors(formVideo.file) }}
      {{ form_widget(formVideo.file, { 'attr': {'class': 'urlVideo'} }) }}
  </div>

    <div class="form-group">
      {{ form_label(formVideo.description) }}
      {{ form_errors(formVideo.description) }}
      {{ form_widget(formVideo.description, { 'attr': {'class': 'inputDescription'} }) }}
  </div>

  <div class="form-group">
      {{ form_label(formVideo.date) }}
      {{ form_errors(formVideo.date) }}
      {{ form_widget(formVideo.date, { 'attr': {'class': 'datepicker'}}) }}
  </div>

  {{ form_rest(formVideo) }}
    <button class="btn btn-primary" type="submit">Ajouter</button>
  </fieldset>
</form>

 