 <article id="portfolio">
                    <header>
                        <h2>Nos sites</h2>
                        <span>Pour accéder à nos différents sites de partage</span>
                    </header>
                    <div class="container">
                        <div class="row">
                            <div class="12u">
                            </div>
                        </div>
                        <div class="row">
                            <div class="4u">
                                <article class="box box-style2">
                                    <a href="http://www.guichou21.wordpress.com" class="image image-full">
                                     <img src="{{ asset('bundles/gbcreationhome/images/article_blog.jpg') }}" alt="Blog"/>
                                     </a>
                                    <h3><a href="http://www.guichou21.wordpress.com">Blog</a></h3>
                                    <p>Récits de nos voyages, vacances,...</p>
                                </article>
                            </div>
                            <div class="4u">
                                <article class="box box-style2">
                                    <a href="{{ path('gb_creation_wall_homepage') }}" class="image image-full">
                                     <img src="{{ asset('bundles/gbcreationhome/images/article_portfolio.png') }}" alt="Photos"/>
                                     </a>
                                    <h3><a href="{{ path('gb_creation_wall_homepage') }}">Photos</a></h3>
                                    <p>Notre mur de photos.</p>
                                </article>
                            </div>
                            <div class="4u">
                                <article class="box box-style2">
                                    <a href="{{ path('gb_creation_wall_homepage') }}#video" class="image image-full">
                                    <!-- <a href="https://vimeo.com/user3746792/videos" class="image image-full"> -->
                                     <img src="{{ asset('bundles/gbcreationhome/images/article_video.jpg') }}" alt="Vidéos"/>
                                     </a>
                                    <h3><a href="https://vimeo.com/user3746792/videos">Vidéos</a></h3>
                                    <p>Nos montages vidéos.</p>
                                </article>
                            </div>
                        </div>
                        <div class="row">
                            <div class="4u">
                                <article class="box box-style2">
                                    <a href="http://karen-guiom.no-ip.org:5000" class="image image-full">
                                    <img src="{{ asset('bundles/gbcreationhome/images/article_nas.png') }}" alt="Partage de fichiers"/>
                                    </a>
                                    <h3><a href="http://karen-guiom.no-ip.org:5000">Partage de fichiers</a></h3>
                                    <p>Pour partager des fichiers.</p>
                                </article>
                            </div>
                        </div>
                    </div>
                    <footer>
                        
                    </footer>
                </article>